
@{
    ViewBag.Title = Pages.Points;
}
<input type="hidden" ng-init="$parent.$root.title ='@ViewBag.Title';" />
<h3>@ViewBag.Title</h3>
<hr />
<a class="btn btn-primary" ng-click="new({Id:0 ,Name: '',Address: '' ,PointType :''})">@Common.New &nbsp; <b class="glyphicon glyphicon-plus"></b></a>
<br />
<br />
<table class="table table-bordered table-condensed">
    <tbody>
        <tr>
            <th>@Common.Name</th>
            <th>@Person.Address</th>
            <th>@Point.Type</th>
            <th></th>
        </tr>

        <tr ng-animate="'animate'" ng-repeat="entity in list" ng-init="editable=entity.Id === 0" class="editable" ng-form="editForm">
            <td ng-class="{ 'ng-invalid' : (editForm.Name.$dirty || editForm.$submitted ) &&  editForm.Name.$error.required}">
                <input type="text" class="form-control" name="Name" ng-readonly="!editable" ng-model="entity.Name" required>
            </td>
            <td>
                <input type="text" class="form-control" name="Address" ng-readonly="!editable" ng-model="entity.Address">
            </td>
            <td ng-class="{ 'ng-invalid' : (editForm.PointType.$dirty || editForm.$submitted ) &&  editForm.PointType.$error.required}">
                <Select class="form-control" name="PointType" ng-disabled="!editable" ng-model="entity.PointType" required convert-to-number>
                    <option value="">@Common.Choose</option>
                    <option value="1">@Point.Store</option>
                    <option value="2">@Point.Market</option>
                </Select>
            </td>

            <td>
                <div class="btn-group" ng-hide="editable">
                    <a class="btn btn-xs btn-info" ng-click="edit()">@Common.Edit &nbsp;<b class="glyphicon glyphicon-edit"></b></a>
                    <a class="btn btn-xs btn-danger" ng-click="delete()">@Common.Delete &nbsp;<b class="glyphicon glyphicon-remove"></b></a>
                </div>
                <div class="btn-group" ng-show="editable">
                    <a class="btn btn-xs btn-success" ng-click="save()">@Common.Save &nbsp;<b class="glyphicon glyphicon-ok"></b></a>
                    <a class="btn btn-xs btn-warning" ng-click="cancel()">@Common.Cancel &nbsp;<b class="glyphicon glyphicon-remove"></b></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
