@{
    ViewBag.Title = Pages.Sales;
}
<input type="hidden" ng-init="$parent.$root.title ='@ViewBag.Title';" />
<div class="container">
    <form class="row" name="transactionForm" novalidate>
        <div class="col-sm-9">
            <div class="row">
                <label class="control-label col-sm-3">@Transaction.Number</label>
                <label class="control-label col-sm-3">@Common.Date</label>
                <label class="control-label col-sm-3">@Models.Customer</label>
                <label class="control-label col-sm-3">@Models.Point</label>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input class="form-control" ng-model="transaction.Number" name="Number" required />
                    <span class="ng-invalid" ng-show="(transactionForm.Number.$dirty || transactionForm.$submitted ) &&  transactionForm.Number.$error.required">
                        @string.Format(Common.Required, Transaction.Number)
                    </span>
                </div>
                <div class="col-sm-3">
                    <input class="form-control" ng-model="transaction.Date" name="Date" uib-datepicker-popup="dd/MM/yyyy" is-open="dt1.opened"
                           ng-focus="dt1.opened = true" ng-click="dt1.opened = true" show-weeks="false" show-button-bar="false" required />
                    <span class="ng-invalid" ng-show="(transactionForm.Date.$dirty || transactionForm.$submitted ) &&  transactionForm.Date.$error.required">
                        @string.Format(Common.Required, Common.Date)
                    </span>
                </div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <select class="form-control" ng-model="transaction.PersonId" ng-options="customer.Id as customer.Name for customer in people" name="Customer" required></select>
                        <a class="input-group-addon btn" ng-click="add('Person');"><i class="glyphicon glyphicon-plus"></i></a>
                    </div>
                    <span class="ng-invalid" ng-show="(transactionForm.Customer.$dirty || transactionForm.$submitted ) &&  transactionForm.Customer.$error.required">
                        @string.Format(Common.Required, Models.Customer)
                    </span>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="transaction.PointId" ng-options="point.Id as point.Name for point in points" name="Point" required></select>
                    <span class="ng-invalid" ng-show="(transactionForm.Point.$dirty || transactionForm.$submitted ) &&  transactionForm.Point.$error.required">
                        @string.Format(Common.Required, Models.Point)
                    </span>
                </div>
            </div>
            <hr />
            <div class="row">
                <label class="control-label col-sm-2">@Product.Barcode</label>
                <label class="control-label col-sm-4">@Models.Product</label>
                <label class="control-label col-sm-2">@Transaction.Amount</label>
                <label class="control-label col-sm-2">@Transaction.Price</label>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <input class="form-control" ng-model="product.Barcode" ng-keyup="checkBarcode($event.keyCode)" id="Barcode" />
                </div>
                <div class="col-sm-4">
                    <angucomplete-alt pause="200" selected-object="setValue" local-data="products" search-fields="Name" title-field="Name" minlength="1" id="productName"
                                      input-class="form-control" text-searching="false" text-no-results="false" initial-value="product.Name" />
                </div>
                <div class="col-sm-2">
                    <input class="form-control" ng-model="product.Amount" type="number" ng-keypress="$event.keyCode===13 && addProduct()" Id="amount" />
                </div>
                <div class="col-sm-2">
                    <input class="form-control" ng-model="product.Price" type="number" ng-keyup="$event.keyCode===13 && addProduct()" />
                </div>
                <div class="col-sm-2">
                    <a class="btn btn-block btn-success" ng-click="addProduct();">@Common.Add</a>
                </div>
            </div>
            <br />
            <table class="table table-bordered table-condensed">
                <tr>
                    <th>@Product.Barcode</th>
                    <th>@Common.Name</th>
                    <th>@Transaction.Amount</th>
                    <th>@Transaction.Price</th>
                    <th>@Transaction.Total</th>
                    <th></th>
                </tr>
                <tbody>
                    <tr ng-animate="'animate'" ng-repeat="item in transaction.Details">
                        <td>
                            <span ng-hide="item.Barcode ===''">
                                {{item.Barcode}}
                            </span>
                            <a class="btn" ng-show="item.Barcode ===''" ng-click="addSerials($index);"><i class="glyphicon glyphicon-barcode"></i></a>
                        </td>
                        <td>{{item.Name}}</td>
                        <td contenteditable="true" ng-model="item.Amount">{{item.Amount}}</td>
                        <td contenteditable="true" ng-model="item.Price">{{item.Price}}</td>
                        <td>{{item.Amount * item.Price}}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-xs btn-danger" ng-click="delete($index)">@Common.Delete &nbsp;<b class="glyphicon glyphicon-remove"></b></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-3 bordered">
            <table class="table table-condensed">
                <tr>
                    <td><label>@Transaction.Discount: </label></td>
                    <td><input class="form-control" ng-model="transaction.Discount" /></td>
                </tr>
                <tr>
                    <td><label>@Transaction.Total: </label></td>
                    <td><input class="form-control" value="{{getTotal()}}" readonly="" /></td>
                </tr>
                <tr>
                    <td><label>@Transaction.Paid: </label></td>
                    <td><input class="form-control" ng-model="transaction.Paid" /></td>
                </tr>
                <tr>
                    <td><label>@Transaction.Rest: </label></td>
                    <td><input class="form-control" value="{{getRest()}}" readonly="" /></td>
                </tr>
                <tr>
                    <td><label>@Transaction.PaymentMethod: </label></td>
                    <td>
                        <select ng-model="transaction.PaymentMethod" required convert-to-number>
                            <option value="1">@Transaction.Cash</option>
                            <option value="2">@Transaction.Later</option>
                            <option value="3">@Transaction.Visa</option>
                        </select>
                    </td>
                </tr>
                <tr ng-show="transaction.PaymentMethod===2">
                    <td colspan="2">
                        <div class="btn-group btn-group-justified">
                            <a class="btn btn-default" ng-click="add('Installments');">@Transaction.Installments</a>
                            <a class="btn btn-default" ng-click="add('Cheques');">@Transaction.Cheques</a>
                        </div>
                    </td>
                </tr>
                <tr ng-show="transaction.PaymentMethod===3">
                    <td colspan="2">
                        <a class="btn btn-default btn-block" ng-click="add('Visa');">@Transaction.Visa</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><a class="btn btn-success btn-block" ng-click="save();">@Common.Save</a></td>
                </tr>
            </table>



        </div>
    </form>
    <div class="modal fade" role="dialog" id="Modal">
        <div class="modal-dialog modal-auto">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="ModalLabel">@Product.Barcode</h4>
                </div>
                <div class="modal-body" ng-include="tmpl">

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">@Common.Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/ng-template" id="serials.tmpl">
    <form ng-submit="addSerial()">
        <input class="form-control" ng-model="serial" required />
        <input type="submit" style="display: none;" />
    </form>
    <ul>
        <li ng-repeat="barcode in transaction.Details[selectedIndex].Barcodes">{{barcode.Barcode.Barcode}}</li>
    </ul>
</script>
<script type="text/ng-template" id="Installments.tmpl">
    <form class="form-inline">
        <label>@Common.Date</label>
        <input class="form-control" ng-model="installment.DueDate" uib-datepicker-popup="dd/MM/yyyy" is-open="dt3.opened"
               ng-focus="dt3.opened = true" ng-click="dt3.opened = true" show-weeks="false" show-button-bar="false" required />
        <label>@Common.Value</label>
        <input class="form-control" ng-model="installment.Value" required />
        <a class="btn btn-success" ng-click="addInstallment();">@Common.Add</a>
    </form>
    <form class="form-inline">
        <label>@Common.Date</label>
        <input class="form-control" ng-model="installment.Date" uib-datepicker-popup="dd/MM/yyyy" is-open="dt2.opened"
               ng-focus="dt2.opened = true" ng-click="dt2.opened = true" show-weeks="false" show-button-bar="false" required />
        <label>@Common.Count</label>
        <input class="form-control" ng-model="installment.Count" required />
        <label>@Common.Every</label>
        <div class="input-group">
            <input type="number" class="form-control" ng-model="installment.Months" required />
            <span class="input-group-addon">@Common.Month</span>
        </div>
        <a class="btn btn-success" ng-click="generateInstallments();">@Common.Generate</a>
    </form>
    <br />
    <table class="table table-condensed table-bordered">
        <thead>
            <tr>
                <th>@Installment.DueDate</th>
                <th>@Common.Value</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in transaction.Installments">
                <td>{{item.DueDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{item.Value}}</td>
            </tr>
        </tbody>
    </table>
</script>
<script type="text/ng-template" id="Cheques.tmpl">
    <form class="form-inline">
        <label>@Common.Date</label>
        <input class="form-control" ng-model="cheque.DueDate" uib-datepicker-popup="dd/MM/yyyy" is-open="dt3.opened"
               ng-focus="dt3.opened = true" ng-click="dt3.opened = true" show-weeks="false" show-button-bar="false" required />
        <label>@Common.Value</label>
        <input class="form-control" ng-model="cheque.Value" required />
        <label>@Bank.Number</label>
        <input class="form-control" ng-model="cheque.Number" required />
        <label>@Models.BankAccount</label>
        <select class="form-control" ng-model="cheque.BankAccountId" ng-options="bankAccount.Id as bankAccount.Label for bankAccount in bankAccounts" required></select>
        <a class="btn btn-success" ng-click="addCheque();">@Common.Add</a>
    </form>
    <form class="form-inline">
        <label>@Common.Date</label>
        <input class="form-control" ng-model="cheque.Date" uib-datepicker-popup="dd/MM/yyyy" is-open="dt2.opened"
               ng-focus="dt2.opened = true" ng-click="dt2.opened = true" show-weeks="false" show-button-bar="false" required />
        <label>@Common.Count</label>
        <input class="form-control" ng-model="cheque.Count" required />
        <label>@Common.Every</label>
        <div class="input-group">
            <input type="number" class="form-control" ng-model="cheque.Months" required />
            <span class="input-group-addon">@Common.Month</span>
        </div>
        <label>@Models.BankAccount</label>
        <select class="form-control" ng-model="cheque.BankAccount" ng-options="bankAccount.Id as bankAccount.Label for bankAccount in bankAccounts" required></select>
        <a class="btn btn-success" ng-click="generateCheques();">@Common.Generate</a>
    </form>
    <br />
    <table class="table table-condensed table-bordered">
        <thead>
            <tr>
                <th>@Bank.Number</th>
                <th>@Installment.DueDate</th>
                <th>@Common.Value</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in transaction.Cheques">
                <td>
                    <input type="text" class="form-control" ng-model="item.Number" required>
                </td>
                <td>{{item.DueDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{item.Value}}</td>
            </tr>
        </tbody>
    </table>
</script>
<script type="text/ng-template" id="Visa.tmpl">
    <form class="form-inline">
        <label>@Common.Date</label>
        <input class="form-control" ng-model="visa.Date" uib-datepicker-popup="dd/MM/yyyy" is-open="dt3.opened"
               ng-focus="dt3.opened = true" ng-click="dt3.opened = true" show-weeks="false" show-button-bar="false" required />
        <label>@Common.Value</label>
        <input class="form-control" ng-model="visa.Value" required />
        <label>@Bank.Number</label>
        <input class="form-control" ng-model="visa.Number" required />
        <label>@Models.BankAccount</label>
        <select class="form-control" ng-model="visa.BankAccountId" ng-options="bankAccount.Id as bankAccount.Label for bankAccount in bankAccounts" required></select>
    </form>

</script>
<script type="text/ng-template" id="Person.tmpl">
    <form class="form-inline" name="personForm">
        <label>@Common.Name</label>
        <div>
            <input type="text" class="form-control" name="Name" ng-model="customer.Name" required>
            <span class="ng-invalid" ng-show="(personForm.Name.$dirty || personForm.$submitted ) &&  personForm.Name.$error.required">
                @string.Format(Common.Required, Common.Name)
            </span>
        </div>
        <label>@Person.Phone</label>
        <div>
            <input type="text" class="form-control" name="Phone" ng-model="customer.Phone" required>
            <span class="ng-invalid" ng-show="(personForm.Phone.$dirty || personForm.$submitted ) &&  personForm.Phone.$error.required">
                @string.Format(Common.Required, Person.Phone)
            </span>
        </div>
        <a class="btn btn-success" ng-click="savePerson(customer);">@Common.Save</a>
    </form>
</script>