@{
    ViewBag.Title = Pages.Stock;
}
<input type="hidden" ng-init="$parent.$root.title ='@ViewBag.Title';" />
<h3>@ViewBag.Title</h3>
<hr />
<div class="form-inline">
    <label>@Models.Point</label>
    <select class="form-control" ng-model="pointId" ng-options="point.Id as point.Name for point in points" name="Point" ><option value="">@Common.Choose</option></select>
    <label>@Models.Product</label>
    <angucomplete-alt pause="200" selected-object="setValue" local-data="products" search-fields="Name" title-field="Name" minlength="1" id="productName"
                      input-class="form-control" text-searching="false" text-no-results="false" initial-value="product.Name" />
    <a class="btn btn-default" ng-click="show()">@Common.Show</a>
</div>
<br />
<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>@Models.Point</th>
            <th>@Product.Category</th>
            <th>@Product.Barcode</th>
            <th>@Common.Name</th>
            <th>@Product.SalePrice</th>
            <th>@Transaction.Amount</th>
        </tr>
    </thead>
    <tbody>
    <tr ng-animate="'animate'" ng-repeat="stock in stocks">
        <td>{{stock.Point}}</td>
        <td>{{stock.Product.Category}}</td>
        <td>{{stock.Product.Barcode}}</td>
        <td>{{stock.Product.Name}}</td>
        <td>{{stock.Product.SalePrice}}</td>
        <td>{{stock.Amount}} {{stock.Product.Unit}}</td>
    </tr>
       
    </tbody>
    <tfoot>
    <tr>
        <td colspan="5">
            @Transaction.Total
        </td>
        <td>{{total}}</td>
    </tr>
    </tfoot>
</table>